@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

#topnav {
    position: fixed;
    width: 100%;

    top: 0;
    left: 0;

    background-color: Black;

    z-index: 9999;

    font-size: 15px;
}


.nav-link {
    display: inline-block;
    width: 130px;
    height: 55px;

    color: White;

    /* centering text */
    text-align: center;    /* horizontally */
    line-height: 55px;     /* vertically */

    text-decoration: none;
 }